h1 {
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 28px;
  color: orange;
  margin-top: 20px;
  margin-left: 30px;
}
.form {
  width: 50px;
  display: inline;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
  color: #CC00FF;
  margin-top: 20px;
  margin-right: 20px;
}
/*.input {
  width: 50px;
  display: inline-block;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
  color: #CC00FF;
  margin-top: 20px;
}*/
.nav {
  border-bottom: 1px solid black;
  font-family: Arial, sans-serif;
}
input[type=text]{
  display: inline;
  width: 300px;
  border: 3px solid black;
  padding: 10px;
  margin-left: 50px;
}
input[type=checkbox]{
  border: 3px solid purple;
  width: 15px;
  height: 15px;
  color: purple;
  display: inline;
}
.btn {
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-size: 18px;
  color: black;
  width: 90px;
  background-color: orange;
  box-shadow: 2px 2px;
  text-align: center;
  padding: 5px;
  clear: both;
  display: block;
  margin-left: 25px;
  margin-top: 15px;
}
